@{
    ViewBag.Title = "asdasd";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que esta ruta coincida con tu layout
}

<div class="row">
    <div class="col-md-6">
        <!-- Aquí podrías agregar texto o imágenes a la izquierda -->
        <h2>La tienda donde encontrarás los mejores precios</h2>
        <p>
            La tienda online donde encontrarás los mejores productos tecnológicos a precios
            increíbles del mercado. Aquí encontrarás entre desktop, laptos, tablets, discos, teléfonos,
            distintos dispositivos electrónicos de distinta índole y mucho más...
        </p>
    </div>
    <div class="col-md-6">
        <div class="login-container">
            <h1>asdasdasd</h1>
            <hr class="custom-hr" />
            <h3>Recupero cuenta</h3>
            <p>Ingrese su email para recuperar la cuenta</p>
            <br />
            <p>En minutos le llegará un correo</p>
            <form method="post" action="/Account/RecoverAccount">
                <div class="form-group">
                    <label for="Email">Correo electrónico</label>
                    <input type="email" class="form-control" id="Email" name="Email" required>
                </div>
                <br />
                <button type="submit" class="btn btn-secondary btn-block">Enviar</button>
            </form>
            <br />
            <a href="/Account/Login" class="btn btn-primary btn-block custom-btn">
                ¿Ya tiene un usuario? Ingresar
            </a>
            <br />
            <a href="/Account/Register" class="btn btn-primary btn-block custom-btn">
                ¿No tiene cuenta? ¡Regístrate!
            </a>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #93C47D; /* Fondo verde para todo el cuerpo */
    }

    .login-container {
        background-color: #f7f7f7; /* Fondo blanco para el contenedor */
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto; /* Centrar el contenedor */
    }

    .custom-hr {
        border: none;
        border-top: 3px solid #085394; /* Personaliza el color y el grosor */
        width: 80%; /* Ajusta el ancho del hr */
        margin: 20px 0; /* Espacio alrededor del hr */
    }

    .form-control,
    .btn-block {
        width: 100%; /* Asegura que los campos y el botón ocupen el 100% del ancho del formulario */
        text-align: center; /* Centrar el texto dentro del input y el botón */
    }

    .custom-btn {
        width: 70%; /* Ajusta el ancho del botón */
        margin: 0 auto; /* Centra el botón */
        font-size: 14px;
    }
</style>
