@{
    ViewBag.Title = "Restablecer Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Restablece tu contraseña</h2>
        <p>
            Restablezca su contraseña para acceder nuevamente a su cuenta. Asegúrese de elegir una contraseña segura
            que no utilice en otros sitios web.
        </p>
    </div>
    <div class="col-md-6">
        <div class="reset-password-container">
            <h1>Restablecer Contraseña</h1>
            <hr class="custom-hr" />
            <h3>Ingrese su nueva contraseña</h3>
            <p>Por favor, ingrese su nueva contraseña dos veces para confirmarla.</p>
            <br />
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }
            <span class="alert alert-danger" id="error-message" style="color: red; display: none;">Las contraseñas no coinciden. Por favor, inténtelo de nuevo.</span>
            <form method="post" action="/Recupero/RestablecerContrasena" id="resetPasswordForm">
                <input type="hidden" name="email" value="@ViewBag.Email" />

                <div class="form-group">
                    <label for="NuevaContrasena">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="NuevaContrasena" name="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="ConfirmarContrasena">Confirmar Nueva Contraseña</label>
                    <input type="password" class="form-control" id="ConfirmarContrasena" required>
                </div>
                <small class="form-text text-muted">Utilice al menos una letra, un número y siete caracteres.</small>
                <br />
                <br />
                <button type="submit" class="btn btn-secondary btn-block">Restablecer Contraseña</button>
            </form>
            <br />
            <a href="/Login/Index" class="btn btn-primary btn-block custom-btn">
                ¿Ya tiene un usuario? Ingresar
            </a>
            <br />
            <a href="/Registro/Create" class="btn btn-primary btn-block custom-btn">
                ¿No tiene cuenta? ¡Regístrate!
            </a>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #93C47D;
    }

    .reset-password-container {
        background-color: #f7f7f7;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .custom-hr {
        border: none;
        border-top: 3px solid #085394;
        width: 80%;
        margin: 20px 0;
    }

    .form-control {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .btn-block {
        width: 60%;
        margin: 0 auto;
        font-size: 14px;
    }

    .custom-btn {
        width: 70%;
        margin: 0 auto;
        font-size: 14px;
    }

    #error-message {
        margin-bottom: 10px; /* Espacio fijo debajo del mensaje de error */
    }
</style>

<script>
    $(document).ready(function () {
        $("#resetPasswordForm").submit(function (event) {
            var nuevaContrasena = $("#NuevaContrasena").val();
            var confirmarContrasena = $("#ConfirmarContrasena").val();
            var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{7,}$/;

            if (nuevaContrasena !== confirmarContrasena) {
                $("#error-message").text("Las contraseñas no coinciden. Por favor, inténtelo de nuevo.").show();
                event.preventDefault();
                //esta validacion es muy necesaria, si se hace dellado del servidor se refresca y se pierde el mail
            } else if (!regex.test(nuevaContrasena)) {
                $("#error-message").text("La contraseña debe tener al menos 7 caracteres, incluyendo letras y números.").show();
                event.preventDefault();
            } else {
                $("#error-message").hide();
            }
        });
    });
</script>
